<div class="col-7">
  <div class="mb-4">
    <%= link_to 'Home', dashboard_path, class: 'fs-4 text-decoration-none text-black' %>
  </div>
  <ul>
    <%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
      <%= f.text_area :body, class: "form-control w-100 tweet-input",placeholder: "What's happening?" %>
      <div class="d-flex justify-content-end">
        <%= f.submit 'Tweet', class: 'btn-twitter rounded-pill border-0 px-4 py-2 mt-4' %>
      </div>
    <% end %>
    <% Tweet.find_each do |tweet| %>
      <li><%= tweet.body %></li>
    <% end %>
  </ul>
</div>
<div class="col">Column</div>