<div class="container py-2">
  <div class="row">
    <aside class="col dashboard-sidebar">
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-4 rounded-circle">
          <%= image_tag 'logo.png', width: 40 %>
        </div>
      <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-2 rounded-pill">
          <span class='me-4'><%= image_tag 'home.png', width: 32 %></span>
          <span>Home</span>
        </div>
      <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-2 rounded-pill">
          <span class='me-4'><%= image_tag 'explore.png', width: 32 %></span>
          <span>Explore</span>
        </div>
      <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-2 rounded-pill">
          <span class='me-4'><%= image_tag 'notification.png', width: 32 %></span>
          <span>Notificationss</span>
        </div>
      <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-2 rounded-pill">
          <span class='me-4'><%= image_tag 'message.png', width: 32 %></span>
          <span>Messages</span>
        </div>
      <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-2 rounded-pill">
          <span class='me-4'><%= image_tag 'bookmark.png', width: 32 %></span>
          <span>Bookmarks</span>
        </div>
      <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-2 rounded-pill">
          <span class='me-4'><%= image_tag 'profile.png', width: 32 %></span>
          <span>Profile</span>
        </div>
      <% end %>
      <%= link_to root_path, class: "d-flex align-items-center mb-3" do %>
        <div class="px-4 py-2 rounded-pill">
          <span class='me-4'><%= image_tag 'more.png', width: 32 %></span>
          <span>More</span>
        </div>
      <% end %>
      <div>
        <%= link_to '#', class: "d-flex align-items-center mb-3 px-4" do %>
          <button type="button" class="btn btn-primary rounded-pill btn-lg">Tweet</button>
        <% end %>
      </div>
      <%= link_to 'Sign out', destroy_user_session_path, class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </aside>
    <div class="col">
      <ul>
        <%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
          <%= f.text_field :body %>
          <%= f.submit %>
        <% end %>
        <% Tweet.find_each do |tweet| %>
          <li><%= tweet.body %></li>
        <% end %>
      </ul>
    </div>
    <div class="col">Column</div>
  </div>
</div>