<%= turbo_page_requires_reload %>
<div class="col-7">
  <div class="mb-3">
    <div class="mb-5">
      <%= link_to root_path, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
        <%= image_tag "back.png", size: 30, class: "me-4" %>
        <span style="position: relative; top:2px;"><%= current_user.username %></span>
        <span class="text-muted fs-6" style="position: relative; top:2px;"><%= current_user.tweets.size %> Tweets</span>
      <% end %>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-5">
      <div>
        <%= image_tag current_user.avatar.attached? ? current_user.avatar : 'anonymous.png' , size: "80", class: "rounded-circle" %>
      </div>
      <div>
        <%= link_to "Edit profile", "#", class: "btn btn-twitter-outline rounded-pill" %>
      </div>
    </div>
    <div>
      <p class="fs-3 fw-semibold mb-0"><%= current_user.username %></p>
      <p class="text-muted">@<%= current_user.display_name %></p>
      <p>Bio</p>
      <div class="d-flex justify-content-start gap-3 mb-2">
        <div>
          <span style="position: relative; bottom:2px;" class="mb-0">
            <%= image_tag 'marker.png' , size: "16" %>
          </span>
          <span class="text-muted">Location</span>
        </div>
        <div>
          <span style="position: relative; bottom:2px;" class="mb-0">
            <%= image_tag 'megaphone.png' , size: "16" %>
          </span>
          <span class="text-muted">URL</span>
        </div>
        <div>
          <span style="position: relative; bottom:2px;" class="mb-0">
            <%= image_tag 'calendar.png' , size: "16" %>
          </span>
          <span class="text-muted">Join Date</span>
        </div>
      </div>
      <div class="d-flex justify-content-start gap-3">
        <div><span>14</span> Following</div>
        <div><span>35</span> Followers</div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  123
</div>