<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div>
    <div class="d-flex justify-content-start gap-3 mb-4">
      <p><span class="fw-bold"><%= tweet_presenter.views_count %></span> Views</p>
      <p><span class="fw-bold"><%= tweet_presenter.retweets_count %></span> Retweets</p>
      <p><span class="fw-bold"><%= tweet_presenter.likes_count %></span> Likes</p>
      <p><span class="fw-bold"><%= tweet_presenter.replies_count %></span> Replies</p>
    </div>
    <div class="d-flex justify-content-evenly">
      <%= link_to "#", class: "text-decoration-none text-black action-link views" do %>
        <%= image_tag 'view.png', width: 25 %>
      <% end %>
      <%# When a request originates from a turbo_frame, turbo expects the response contains updated content. We have to add "turbo_page_requires_reload" to tweets/show.html.erb %>
      <%= link_to tweet_path(tweet_presenter.tweet), class: "text-decoration-none text-black action-link replies" do %>
        <%= image_tag 'reply.png', width: 25 %>
      <% end %>
      <% unless tweet_presenter.self_tweet? %>
        <%= link_to tweet_presenter.retweet_path(source: 'stats'), data: { turbo_method: tweet_presenter.retweet_method }, class: "text-decoration-none text-black action-link likes" do %>
          <%= image_tag tweet_presenter.retweet_image, width: 25 %>
        <% end %>
      <% end %>
      <%= link_to tweet_presenter.like_path(source: 'stats'), data: { turbo_method: tweet_presenter.like_method }, class: "text-decoration-none text-black action-link likes" do %>
        <%= image_tag tweet_presenter.like_image, width: 25 %>
      <% end %>
      <%= link_to tweet_presenter.bookmark_path(source: 'stats'), data: { turbo_method: tweet_presenter.bookmark_method, ignore_click: true }, class: "text-decoration-none text-black action-link likes" do %>
        <%= image_tag tweet_presenter.bookmark_image, width: 25 %>
      <% end %>
    </div>
  </div>
<% end %>