<%= turbo_page_requires_reload %>
<div class="col-7">
  <div class="mb-3">
    <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
      <%= image_tag "back.png", size: 30, class: "me-4" %>
      <span style="position: relative; top:2px;">Tweet</span>
    <% end %>
  </div>
  <%= turbo_frame_tag dom_id(@tweet_presenter.tweet) do %>
    <div class="tweet d-flex py-4 px-3" data-controller="tweet-card" data-target-path=<%= tweet_path(@tweet_presenter.tweet) %>>
      <div class="flex-shrink-0">
        <%= image_tag @tweet_presenter.avatar, size: "48", class: "rounded-circle" %>
      </div>
      <div class="flex-grow-1 ms-3">
        <p class="fw-bolder mb-0"><%= @tweet_presenter.user.display_name %></p>
        <p class="text-muted mb-1">@<%= @tweet_presenter.user.username %></p>
        <p class="fs-2 mb-1"><%= @tweet_presenter.body %></p>
        <p class="text-muted">
          <%= @tweet_presenter.tweet.created_at.strftime("%l:%M %p") %>
          ·
          <%= @tweet_presenter.tweet.created_at.strftime("%b %e, %Y") %>
        </p>
        <div class="d-flex justify-content-start gap-3">
          <p><span class="fw-bold">5.9k</span> Views</p>
          <p><span class="fw-bold"><%= @tweet_presenter.retweets_count %></span> Retweets</p>
          <p><span class="fw-bold"><%= @tweet_presenter.likes_count %></span> Likes</p>
        </div>
        <div class="d-flex justify-content-evenly">
          <%= link_to "#", data: { ignore_click: true }, class: "text-decoration-none text-black action-link views" do %>
            <%= image_tag 'view.png', width: 25 %>
          <% end %>
          <%# When a request originates from a turbo_frame, turbo expects the response contains updated content. We have to add "turbo_page_requires_reload" to tweets/show.html.erb %>
          <%= link_to tweet_path(@tweet_presenter.tweet), data: { ignore_click: true }, class: "text-decoration-none text-black action-link replies" do %>
            <%= image_tag 'reply.png', width: 25 %>
          <% end %>
          <% unless @tweet_presenter.self_tweet? %>
            <%= link_to @tweet_presenter.retweet_path, data: { turbo_method: @tweet_presenter.retweet_method, ignore_click: true }, class: "text-decoration-none text-black action-link likes" do %>
              <%= image_tag @tweet_presenter.retweet_image, width: 25 %>
            <% end %>
          <% end %>
          <%= link_to @tweet_presenter.like_path, data: { turbo_method: @tweet_presenter.like_method, ignore_click: true }, class: "text-decoration-none text-black action-link likes" do %>
            <%= image_tag @tweet_presenter.like_image, width: 25 %>
          <% end %>
          <%= link_to @tweet_presenter.bookmark_path, data: { turbo_method: @tweet_presenter.bookmark_method, ignore_click: true }, class: "text-decoration-none text-black action-link likes" do %>
            <%= image_tag @tweet_presenter.bookmark_image, width: 25 %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col">
  123
</div>