<%= turbo_page_requires_reload %>
<div class="col-7">
  <div class="mb-3">
    <%= link_to root_path, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
      <%= image_tag "back.png", size: 30, class: "me-4" %>
      <span style="position: relative; top:2px;">Tweet</span>
    <% end %>
  </div>
  <div class="tweet d-flex py-4 px-3" data-target-path=<%= tweet_path(@tweet_presenter.tweet) %>>
    <div class="flex-shrink-0">
      <%= image_tag @tweet_presenter.avatar, size: "48", class: "rounded-circle" %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="fw-bolder mb-0"><%= @tweet_presenter.user.display_name %></p>
      <p class="text-muted mb-1">@<%= @tweet_presenter.user.username %></p>
      <p class="fs-2 mb-1"><%= @tweet_presenter.body %></p>
      <p class="text-muted">
        <%= @tweet_presenter.tweet.created_at.strftime("%l:%M %p") %>
        ·
        <%= @tweet_presenter.tweet.created_at.strftime("%b %e, %Y") %>
      </p>
      <%= render "tweets/stats", tweet_presenter: @tweet_presenter %>
    </div>
  </div>
  <div class="mb-4">
    <%= render 'shared/tweet_form', button_label: "Reply", form_submit_path: tweet_replies_path(@tweet_presenter.tweet) %>
  </div>
</div>
<div class="col">
  123
</div>